You searched for: <h2>"<span><%= @query %></span>"</h2>

<div id="scroll" class="col12"><%= @response.artist_bio %></div>

<div class="col12" id="tracks_playlist">

  <div class='col4' id='artist_pic'>
    <img src='<%= @response.artist_image %>'/>
  </div>

  <div class="col4" id="top_tracks">
    <h4>Top Tracks Playlist:</h4>
      <% @response.artist_top_tracks.map do |track| %>
        <p> <%= track %> </p>
      <% end %>    
  </div>
  
  <div class="col3">
    <iframe id="ytplayer" type="text/html" width="330" height="235"
      src="http://www.youtube.com/v/<%= @top_video %>?version=3&autoplay=1&loop=1&playlist=<%= @top_video_playlist %>"
      frameborder="0"/>
  </div>
</div>