<!DOCTYPE html>
<html>
<head>
  <title>MusicSearch</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="onepcssgrid-1000">
  <header>
    <h1> Eargasm </h1>
    <div id="sign_in_out">
      <%= link_to "Sign In", user_session_path, :method => :post %>
      <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
    </div>
  </header>

<%= yield %>

  <footer>
    Copyright © <%= Time.now.year %>
  </footer>
</body>
</html>
